<div id="nav-bar" class="nav" style="padding:0.2em; margin-left:20%; width:80%;">
    <h3 style="display:inline-block; margin-left:0.5em;">Test App</h3>
    <a href="/dashboard/{{request.session.id}}" style="display:inline-block; margin-left:0.5em; font-size: 1.5em;">Dashboard</a>
    <a href="/edit_user/{{request.session.id}}" style="display:inline-block; margin-left:0.5em; font-size: 1.5em;">Profile</a>
    <span style="margin-left:60%; font-size: 1.5em;"><a href="/logout">Log off</a></span>

</div>
  <hr style="height:1px; color: black; width=100%">
